[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "==19.10b0"
isort = "*"
# Testing
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
mypy = "*"
# Coverage
coverage = "*"
# Tools
pre-commit = "*"
invoke = "*"
bump2version = "*"

[packages]
Click = "*"
Flask = "*"
flask-cors = "*"
