[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "==19.10b0"
isort = "*"
# Testing
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
mypy = "*"
# Coverage
coverage = "*"
# Tools
pre-commit = "*"
invoke = "*"
bump2version = "*"
spotipy = "*"

[packages]
Click = "*"
Flask = "*"
flask-cors = "*"
backcall = "*"
cycler = "*"
decorator = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
itsdangerous = "*"
jedi = "*"
Jinja2 = "*"
joblib = "*"
jupyter-client = "*"
jupyter-core = "*"
kiwisolver = "*"
MarkupSafe = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
Pillow = "*"
prompt-toolkit = "*"
ptyprocess = "*"
Pygments = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
six = "*"
threadpoolctl = "*"
tornado = "*"
traitlets = "*"
wcwidth = "*"
Werkzeug = "*"
spotipy = "*"
python-dotenv = "*"
pymongo = "*"
jupyter = "*"
torch = "*"
umap-learn = "*"
