.widget-fullscreen {
    width: 98vw;
    height: 99vh;
    position: fixed;
    top: 34px;
    left: 0;
    z-index: 9999;
    background: white;
    transition: all .15s linear;
    /* border: 1px solid lightgray; */
    /* opacity: 0.9; */
    padding: 20px;
    overflow-y: auto;
}
.toggle-button {
    cursor: pointer;
    float:right;
    font-weight: bold;
    margin-right:20px;
}