@import "../global.scss"

a
  color: #61dafb

button
  background-color: black
  border: 1px solid white
  color: white
  padding: 4px 8px
  text-align: center
  text-decoration: none
  display: inline-block
  cursor: pointer

.loading-spinner
  svg
    position: relative
    margin: 0 auto

input
  background-color: black
  border: 1px solid white
  color: white
  text-decoration: none

  &.numeric-input

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button
    -webkit-appearance:none

nav
  height: $nav-bar-height
  background-color: black
  position: relative

  #app-name
    line-height: $nav-bar-height
    position: absolute
    top: 0
    left: 0
    font-weight: 700
    font-size: 1.5rem


.graph-container
  position: fixed

  .overlay
    z-index: 9999999999 !important
    position: fixed
    background-color: black

  .help-menu
    top: 50px
    max-height: calc(100vh - 100px)
    left: 15%
    width: 60%
    overflow: hidden
    padding: 5%
    table
      border-collapse: collapse
      text-align: left
      td
        border-spacing: 0
        padding: 15px
        border: 1px solid white
    .close:hover
      border-bottom: 1px solid white
      display: inline-block
      cursor: pointer
  
  .graph-controls
    height: $nav-bar-height
    position: fixed
    width: 100%
    top: 0

    .dimensions
      position: absolute
      display: inline-block
      width: calc(100% - 140px - 350px)
      left: 120px
      padding: 0 10px
      .dropdown-container
        width: 200px

    .forms
      right: 0
      position: absolute
      width: 350px

      > *
        display: inline-block
        font-size: 0.5rem
        height: 22px
        margin: 4px
        top: 0
        width: 60px

      #search-query-input
        padding: 0
        height: 18px
      #search-type-select
        width: 100px

.help-icon
  cursor: pointer
  position: absolute
  top: 3px !important
  right: -10px
