.heatmap-container {
    position: relative;
    padding: 5px;
    color: white;
    background: black;
    color:black;
    background: white;
}

#heatmap-svg {
    width: 480px;
    height: 480px;
}

.heatmap-tooltip {
    /* position: absolute; */
    background-color: white;
    font: 8px;
    color: black;
    border: 1 px solid lightgrey;
    border-radius: 2px;
    padding: 2px;
}