.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.mainPlot{
 width:60%;
  height: 477px;
  position: fixed;
  z-index: 1;
  top: 80;
  overflow-x: hidden;
  border: 3px solid #A9A9A9;
  left: 0;

}

div.WordCloudArtists{
  width:39.3%;
  height: 50%;
  position: fixed;
  z-index: 1;
  top: 50%;
  overflow-x: hidden;
  border: 3px solid #A9A9A9;
  right: 0;


}

div.WordCloudGenre{
  width:39.3%;
  height: 50%;
  position: fixed;
  z-index: 1;
  top: 0px;
  overflow-x: hidden;
  border: 3px solid #A9A9A9;
  right: 0;

}

div.StatA{
  width:30%;
  height: 300px;
  position: fixed;
  z-index: 1;
  top: 480px;
  overflow-x: hidden;
  border: 3px solid #A9A9A9;
  left: 30%;


}
div.StatGenres{
  width:30%;
  height: 300px;
  position: fixed;
  z-index: 1;
  top: 480px;
  overflow-x: hidden;
  border: 3px solid #A9A9A9;
  left: 0;


}
div.Title{
 width:60%;
  height:80px;
  position: fixed;
    z-index: 1;
  top: 0;
  overflow-x: hidden;
  /*display:inline-block;*/
border: 3px solid #A9A9A9;
left: 0;
}
div.Parent{
 width:1500px;
 overflow: hidden;

}
