@import "./global.scss"


a
  color: #61dafb

.button
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;



nav
  height: $nav-bar-height
  background-color: black
  position: relative

  #app-name
    font-weight: 700
    font-size: 1.5rem
    line-height: $nav-bar-height
    position: absolute
    left: 20px

  #app-help
    font-size: 0.5rem
    position: absolute
    line-height: $nav-bar-height
    right: 10px
    top: 0

  .dimension-controller
    .dropdown-container
      width: 200px

  
#content
  width: 100%
  height: calc(100vh - #{$nav-bar-height})
  overflow: hidden
  position: relative
  

  #main-view
    z-index: 10
    @include transition(width 0.2s ease-in)
    width: calc(100% - 30px)
    position: absolute
    // background-color: blue
    height: 100%
    overflow: hidden

    &.expanded
      width: 70%

    .minimap
      z-index: 100
      position: absolute
      right: 0
      bottom: 0
      padding: 30px

    .graph
      z-index: 100
      position: absolute
      width: 70%
      height: calc(100% - #{$stat-bar-height})
      top: $stat-bar-height
      left: 0

  #side-view
    z-index: 20
    position: absolute
    outline: $border-width solid #a9a9a9
    // background-color: red
    width: 30%
    height: 100%
    float: right
    @include transition(right 0.2s ease-in)
    right: calc(30px - 30%)
    overflow-x: hidden
    overflow-y: scroll
    top: 0
    font-size: 0.7rem

    &.expanded
      right: 0

    .toggle
      position: absolute
      font-size: 40px
      left: 0
      top: 0
      font-size: 1rem
      padding: 5px
      z-index: 500

    .sideview-widget
      width: 100%
      overflow: hidden
      border-bottom: $border-width solid #a9a9a9

    .app-stats
      padding-top: 50px
      position: relative
      height: 30px

      .stat
        position: relative
        padding: 5px
        float: left
        width: calc(50% - 10px)

        .stat-value
          font-weight: bold
          font-size: 1rem

    .genre-wordcloud
      position: relative
      height: calc(50% - 35px)
      height:  300px

    .artist-wordcloud
      position: relative
      height:  300px


